.nav-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    width: 100%;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    align-self: center;

    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 10px 10px 10px 10px;
    transition: 0.3s;
}

.nav:hover {
    background-color: cornflowerblue;
    transition: 0.3s;
}

.brand-logo {
    width: 75px;
    height: 75px;
    padding: 0 0 0 10px;
}

.sidenav {
    position: fixed;
    top:0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: cornflowerblue;
    z-index: 100;
}