.main {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.panel {
  align-self: flex-start;
  margin: auto;
  padding: 0 10px 0 10px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}