.dashboard {
    color: white;
    text-align: center;
}

.dashboard > p { 
    font-size: 36px;
}

.dashboard > a {
    color: white;
}

.dashboard > p > a {
    color: cornflowerblue;
}

.group-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.group-cards-container > p {
    margin: auto;
}